<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V1</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="../static/images/icons/favicon.ico"/>
  <script src="../static/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<!--<link rel="stylesheet" type="text/css" href="../fonts/font-awesome-4.7.0/css/font-awesome.min.css">-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.1/css/all.css">

<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/animate/animate.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/vendor/select2/select2.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="../static/css/util.css">
	<link rel="stylesheet" type="text/css" href="../static/css/main.css">
	<script src="{{ url_for('static', filename='../static/js/sweetalert.min.js') }}"></script>
<!--===============================================================================================-->
 <script src="../static/js/action_admin.js"></script>

</head>

<header class="masthead">
</header>
<body>


<!-- Nav menu with user information -->
<nav class="navbar navbar-expand-xl navbar-dark bg-dark pmd-navbar pmd-z-depth">
	    <a class="navbar-brand" href="#"><i class="fa fa-home m-l-5" aria-hidden="true"></i>OntoAgri</a>
	    <div class="dropdown pmd-dropdown pmd-user-info ml-auto">
	        <a href="javascript:void(0);" class="btn-user dropdown-toggle media align-items-center" data-toggle="dropdown" data-sidebar="true" aria-expanded="false">
	            <img class="mr-2" src="../static/images/user_estudiante.png" width="40" height="40" alt="avatar">
	            <div  class="media-body">
	                <h6 id='documento'>{{documento}}</h6>
	            </div>
	        </a>
	        <ul class=" nav navbar-nav navbar-right ">
						<li class="dropdown-menu dropdown-menu-right">
	                            <div class="navbar-login">
	                                <div class="row">
	                                    <div class="col-md-2">
	                                        <p class="text-center">
	                                            <span class="fa fa-user icon-size"></span>
	                                        </p>
	                                    </div>
	                                    <div class="col-md-10">
	                                        <p class="text-left"><strong>{{nombre}}</strong></p>
	                                        <p class="text-left">
	                                            <button id='btn_logout'  class="btn btn-primary btn-sm text-center">Cerrar Sesión</button>
	                                        </p>
	                                    </div>
	                                </div>
	                            </div>
	                        </li>
	        </ul>
	    </div>
	</nav>

<br>
<br>
<br><br><br><br>


<div class="container" id="opciones_estudiante">
		<div class="row text-center">
				<div class="col">
					<button id="ingresar_regla" class="btn btn-xl btn btn-outline-info"><i class="fas fa-book"></i> Adicionar cultivo </button>
				</div>
		</div>
		<br>
		<hr/>
	</div>


<div id="adicionarRegla" class="container center-block">
	<br>
	<div class="d-flex justify-content-center">
		<form>
	  <div class="form-row">
		<div class="col-md-2 mb-3">
		  <label for="cultivo">Nombre cultivo</label>
		  <input type="text" class="form-control" id="cultivo" placeholder="Cultivo" required>
		  <div class="invalid-feedback">
			Ingrese el nombre del cultivo
		  </div>
		</div>
		<div class="col-md-2 mb-3">
		  <label for="tipo">Tipo cultivo</label>
		  <input type="text" class="form-control" id="tipo" placeholder="Tipo de cultivo" required>
		  <div class="invalid-feedback">
			Ingrese el tipo del cultivo (fruto, raiz, hoja, flor).
		  </div>
		</div>
	  </div>
	  <div class="form-row">
		<div class="col-md-3 mb-3">
		  <label for="lumMin">Luminosidad mínima</label>
		  <input type="text" class="form-control" id="lumMin" placeholder="Luminosidad Min" required>
		  <div class="invalid-feedback">
			Ingrese el número de horas al día (luminosidad) mínimas.
		  </div>
		</div>
		<div class="col-md-3 mb-3">
		  <label for="lumMax">Luminosidad máxima</label>
		  <input type="text" class="form-control" id="lumMax" placeholder="Luminosidad Max" required>
		  <div class="invalid-feedback">
			Ingrese el número de horas al día (luminosidad) máximas.
		  </div>
		</div>
		<div class="col-md-3 mb-3">
		  <label for="topMin">Topografía mínima</label>
		  <input type="text" class="form-control" id="topMin" placeholder="Topografia Min" required>
		  <div class="invalid-feedback">
			Ingrese el ángulo de inclinación mínimo.
		  </div>
		</div>
		<div class="col-md-3 mb-3">
		  <label for="topMax">Topografía máxima</label>
		  <input type="text" class="form-control" id="topMax" placeholder="Topografia Max" required>
		  <div class="invalid-feedback">
			Ingrese el ángulo de inclinación máximo.
		  </div>
		</div>
	  </div>
	  <div class="form-row">
		<div class="col-md-3 mb-3">
		  <label for="alturaMin">Altura mínima</label>
		  <input type="text" class="form-control" id="alturaMin" placeholder="Altura min" required>
		  <div class="invalid-feedback">
			Ingrese la altura mínima.
		  </div>
		</div>
		<div class="col-md-3 mb-3">
		  <label for="alturaMax">Altura máxima</label>
		  <input type="text" class="form-control" id="alturaMax" placeholder="Altura max" required>
		  <div class="invalid-feedback">
			Ingrese la altura máxima.
		  </div>
		</div>
		<div class="col-md-3 mb-3">
		  <label for="tempMin">Temperatura mínima</label>
		  <input type="text" class="form-control" id="tempMin" placeholder="Temperatura min" required>
		  <div class="invalid-feedback">
			Ingrese la temperatura mínima.
		  </div>
		</div>
		<div class="col-md-3 mb-3">
		  <label for="tempMax">Temperatura máxima</label>
		  <input type="text" class="form-control" id="tempMax" placeholder="Temperatura max" required>
		  <div class="invalid-feedback">
			Ingrese la temperatura máxima.
		  </div>
		</div>
	  </div>
	  <div class="form-row">
		<div class="col-md-3 mb-3">
		  <label for="humMin">Humedad mínima</label>
		  <input type="text" class="form-control" id="humMin" placeholder="Humedad min" required>
		  <div class="invalid-feedback">
			Ingrese la humedad mínima).
		  </div>
		</div>
		<div class="col-md-3 mb-3">
		  <label for="humMax">Humedad máxima</label>
		  <input type="text" class="form-control" id="humMax" placeholder="Humedad max" required>
		  <div class="invalid-feedback">
			Ingrese la humedad máxima.
		  </div>
		</div>
		<div class="col-md-3 mb-3">
		  <label for="phMin">Ph mínimo</label>
		  <input type="text" class="form-control" id="phMin" placeholder="Ph min" required>
		  <div class="invalid-feedback">
			Ingrese el nivel de acidez (ph) mínimo.
		  </div>
		</div>
		<div class="col-md-3 mb-3">
		  <label for="phMax">Ph máximo</label>
		  <input type="text" class="form-control" id="phMax" placeholder="Ph max" required>
		  <div class="invalid-feedback">
			Ingrese el nivel de acidez (ph) máximo.
		  </div>
		</div>

	  </div>
	<br>
		<div class="text-center">
			<button id="registrarCultivo" class="btn btn-primary" type="button">Registrar cultivo</button>
		</div>
	</form>
	</div>

</div>




  <br><br><br>
  <br><br><br><br>
<div class="container-fluid">
      <div class="row">
        <div class="col-md-12 card text-white bg-dark" id="zonCopyRight">
          <div class="card-body">
            <p class="card-text" align="center">Universidad Distrital<i class="fa fa-copyright" aria-hidden="true"></i> 2020</p>
            <p class="card-text" align="center">Sistema de Recomendación de Cultivos</p>
          </div>
        </div>
      </div>
    </div>

<!--===============================================================================================-->

<!--===============================================================================================-->
	<script src="../static/vendor/bootstrap/js/popper.js"></script>
	<script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="../static/vendor/tilt/tilt.jquery.min.js"></script>
	<script >
		$('.js-tilt').tilt({
			scale: 1.1
		})
	</script>
<!--===============================================================================================-->


</body>
</html>
